*{
    box-sizing: border-box;
}
body{
    margin-right: 10em;
    margin-left: 10em;
}
.dalkur2{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid;
    padding: 1em;
    gap: 2em;
    margin: 1em;
}
.dalkur3{
    display: inline-grid;
    grid-template-columns:;
    grid-column-start: 1;
    grid-column-end: 4;
    border: 1px solid;
    padding: 1em;
    gap: 2em;
    margin: 1em;
}