*{
    box-sizing: border-box;
}
@media only screen and (min-width: 80em ){
    body{
        display: grid;
        max-width: 80em;
        margin: auto;
        border: solid black;
        padding: 1em;
    }
header{
    text-align: center;
    border:solid green;
}
nav{
    border: solid green;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;


}


}
main{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap: 1em;
    padding: 1em;
    border:solid rgb(168, 0, 168);
}
section{
    border: solid black;
    display: grid;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1e;
    padding-right: 2em;
    padding-left: 2em;
    text-align: center;
}

footer{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.gerfLink{
    color: blue;
}
}