*{
    box-sizing: border-box;
}


    .dalkur2{
        display: grid;
        grid-template-columns: 1fr;
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }
    .dalkur3{
        display: grid;
        grid-template-columns: 1fr;
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }
    .dalkur4{
        display: grid;
        grid-template-columns: 1fr;
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }

@media only screen and (min-width: 37.5em ){
    .dalkur2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }
    .dalkur3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }
    .dalkur4{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }
}
@media only screen and (min-width: 48em ){
    body{
        margin-right: 10em;
        margin-left: 10em;
    }
    .dalkur2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }
    .dalkur3{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }
    .dalkur4{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }
}
@media only screen and (min-width: 60em ){
    body{
        margin-right: 10em;
        margin-left: 10em;
    }
    .dalkur2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }
    .dalkur3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }
    .dalkur4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border: 1px solid;
        padding: 1em;
        gap: 2em;
        margin: 1em;
    }
}