*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(248, 255, 244);
    margin: 0;padding: 0;
}
header{
    background-color: rgb(71, 67, 80);
}
#Yheader{
    background-color: rgb(71, 67, 80);
    text-align: right;
}
main{
    display: grid;
    
}
footer{
    background-color:  rgb(71, 67, 80);;
}
ul.efni{
    list-style-type: none;
}
.mainL{
    margin-right: 2em;
    
    text-align: center;
    border: solid rgb(0, 0, 0);
    border-width: 2px;
    background-color: peru;
    list-style:none ;    
}
.laekni , .osk3, .Adam,.alnæmi,.Jolakveðja,.agef,.skipt{
    padding: 3em;
    

}
.footDL{
    
}