}
.laekni{
    background-color: pink;

}
.osk3{
    background-color: purple;

}
.Adam{
    background-color: salmon;

}
.alnæmi{
    background-color: sienna;

}
.Jolakveðja{
    background-color: steelblue;

}
.agef{
    

}